<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.i4evercai.android.support">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" >

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>
